<form action="/log-to-tracker" method="POST">
	<label for=trackerName>Name of tracker</label>
	<input type="number" name="trackerName" maxlength="24" required>
	<input type="submit" value="Submit">
</form>